@font-face {
    font-family: 'Minecraftia';
    src: url(../fonts/minecraftia/Minecraftia.ttf);
}

h1 {
   text-shadow: 2px 2px 2px black;
}

* {
  font-family: 'Minecraftia';
}

body {
  background-image: url(../images/minecraft_dirt.jpg);
  background-size: contain;
  color: white;
}

/* shitty attempt at a minecraft-like button */
button {
  background-color: black;
  color: white;
  text-shadow: 2px 2px 2px black;
  height: 50px;
  border-style: solid;
  border-width: 3px;
  border-color: lightblue;
  background-image: url(../images/minecraft_stone.jpg);
  background-size: cover;
}

textarea {
  background-color: black;
  color: white;
  width: 98%;
  height: 350px;
  resize: none;

  border-style: solid;
  border-width: 3px;
  border-color: lightblue;
}

.preview-box {
  height: 30px;
  background-color: black;
  width: 98%;
  border-style: solid;
  border-width: 3px;
  border-color: lightblue;
}
